<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="../assets/DC_Comics_2016.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    DC Villains
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="isAuthenticated" routerLinkActive="active" routerLink="/villains">Villains</a>
      <a class="nav-item nav-link" *ngIf="isAuthenticated" routerLinkActive="active" (click)="onLogout()" style="cursor: pointer;">Logout</a>
      <a class="nav-item nav-link" *ngIf="!isAuthenticated" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Sign In</a>
      <a class="nav-item nav-link" *ngIf="!isAuthenticated" routerLinkActive="active" routerLink="/signup">Sign Up</a>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col mt-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
