<div class="card">
  <div class="card-body">
    <div class="mb-2">
      <button type="button" class="btn btn-primary mr-1" (click)="onEditVillain()">Edit</button>
      <button type="button" class="btn btn-danger" (click)="onDeleteVillain()">Delete</button>
    </div>
    <img [src]="villainData.imageUrl" alt="{{ villainData.name }}" class="img-responsive img-thumbnail mb-2" style="max-height: 300px;">
    <h4 class="card-title">{{ villainData.name }}</h4>
    <p class="card-text">{{ villainData.description }}</p>

    <div class="row">
      <div class="col-sm-3 font-weight-bold">
        Real Name:
      </div>
      <div class="col-sm-9">
        {{ villainData.realName }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 font-weight-bold">
        Character Type:
      </div>
      <div class="col-sm-9">
        {{ villainData.characterType }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 font-weight-bold">
        Gender:
      </div>
      <div class="col-sm-9">
        {{ villainData.gender }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 font-weight-bold">
        Powers:
      </div>
      <div class="col-sm-9">
        <div *ngFor="let power of villainData.powers">{{ power }}</div>
      </div>
    </div>
  </div>
</div>
