<div class="row mb-3">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
    <form class="text-center" (ngSubmit)="onSubmit()" #usrForm="ngForm">
      <img class="mb-1" src="../../../assets/batman-5-logo-svg-vector.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up Form</h1>

      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" placeholder="Username" ngModel class="form-control mb-1"
        required>

      <label for="email" class="sr-only">Email Address</label>
      <input type="email" id="email" name="email" placeholder="Email Address" ngModel class="form-control mb-1"
        required email>

      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" ngModel class="form-control mb-1"
        required>

      <label for="confirmPassword" class="sr-only">Confirm Password</label>
      <input type="password" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword" ngModel class="form-control mb-1"
        required>

      <div *ngIf="usrForm.value.password !== usrForm.value.confirmPassword">Passwords do not match!</div>
      <button class="btn btn-lg btn-dark btn-block mt-3" type="submit" [disabled]="(usrForm.value.password !== usrForm.value.confirmPassword) || usrForm.invalid">Submit
      </button>
    </form>
  </div>
</div>

<div class="row" *ngIf="!confirmUser">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
    <button class="btn btn-lg btn-warning btn-block" (click)="onDoConfirm()">Confirm User</button>
  </div>
</div>
<div class="row" *ngIf="confirmUser">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
    <form #confirmForm="ngForm" (ngSubmit)="onConfirm(confirmForm.value)" class="text-center">
      <label for="usrName" class="sr-only">Username</label>
      <input type="text" id="usrName" name="usrName" placeholder="Username" ngModel class="form-control mb-1" required>

      <label for="validationCode" class="sr-only">Validation Code</label>
      <input type="text" id="validationCode" name="validationCode" placeholder="Validation Code" ngModel class="form-control mb-1" required>

      <button class="btn btn-lg btn-dark btn-block mt-3" type="submit" [disabled]="confirmForm.invalid">Confirm your
        Account</button>
    </form>
  </div>
</div>
